

<div class="w-full h-screen bg-black grid md:grid-cols-2 md:grid-rows-2 grid-rows-6">
    <div class="w-full flex justify-center items-center md:items-start p-2 md:py-5 md:px-10">
        <h5 class="text-5xl md:text-6xl font-zen text-left  text-naranja font-bold 2xl:text-9xl">NOMBRE DEL POEMARIO</h5>
    </div>
    <div class="row-span-3 md:row-span-2 w-full ">
        <img src="../../src/assets/img/poemario.svg" alt="poemario" class="w-full h-full object-cover md:object-contain p-2 md:p-5">

    </div>
    <div class="w-full p-2 md:px-10 md:py-5 row-span-2 ">
        <p class="font-zen text-sm md:text-base lg:text-lg 2xl:text-5xl text-justify text-white  ">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen
           </p>
    </div>

</div>