<section class="w-full bg-black flex flex-col lg:flex-row items-start justify-center lg:px-14  lg:gap-8 lg:py-20 transition-transform duration-500 delay-700 lg:m-0 mt-13 lg:rounded-2xl">
    <div class="w-full flex flex-col items-center lg:items-start justify-center   px-2 py-10 lg:p-0  order-2 lg:order-1">
        <span class="lg:text-7xl text-2xl font-zilla text-primary text-left 2xl:text-[150px]">BIENVENIDOS ¡ENCONTRARAS TUS VERSOS Y POEMAS!</span>
        <p class="text-xl font-zen text-primary py-5 2xl:text-5xl">Lee poesía me lo a consejo un sabío 🍃</p>
    </div>

     <div class="w-full lg:w-5/2 order-1 lg:order-2">
        <img src="../../src/assets/img/welcome-movil.svg" alt="welcome movil" class="w-full object-contain block lg:hidden ">
        <img src="../../src/assets/img/welcome.svg" alt="welcome" class="w-full object-contain hidden lg:block ">
    </div>
</section>